<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="4200c3a5588b3560">
    <link rel="icon" href="/favicon.ico?v=2" />
    <title>Условия доставки в Москве - сеть пивных ресторанов «Ёрш»</title>

<meta name="description" content="Условия круглосуточной доставки от сети пивных ресторанов «Ёрш»">
<meta name="keywords" content="">
<link href="/assets/1f8b6147/css/app.css?v=1618928817" rel="stylesheet">
<script src="/assets/51ca776c/jquery.min.js?v=1490036520"></script>
<script src="/assets/b36b1d3c/yii.js?v=1521657413"></script>
<!--[if lt IE 9]>
<script src="/assets/1186140d/dist/html5shiv.min.js?v=1437422640"></script>
<![endif]-->
<script src="/assets/475d60b8/prompt.js?v=1577636831"></script>
<script src="/assets/475d60b8/cookie.js?v=1545538735"></script>
<script src="/assets/725b870/dist/inputmask.min.js?v=1549999569"></script>
<script src="/assets/bc68fe31/vue.min.js?v=1551452618"></script>
<script src="/assets/2cf759f3/axios.min.js?v=1519082638"></script>
<script src="/assets/54626e54/analyticFunctions.js?v=1585326070"></script>
    <meta name="csrf-param" content="_csrf">
    <meta name="csrf-token" content="aoxY6umILaAiX9_dqz9ZvUm0OBVR3hQHcnaKpY_Ly4Bb7g-g3eId8xYdu4TGbRTEGMJqcWO5cGRBBMbgwJO98g==">
<script>
window.dataLayer = window.dataLayer||[];
dataLayer.push({
 'City': 'Москва',
});
</script>


<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TQ6PL7R');</script>
<!-- <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0336b059-e5e2-4ad0-956c-cb087553e0dd" type="text/javascript"></script> -->
<script id="breadcrumb_data" type="application/json">
[]</script>
</head>
<body>
<noscript><div><img src="https://mc.yandex.ru/watch/31937286" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ6PL7R"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js">
</script>

<script id="staticData" type="application/json">
{"basket":{"items":[],"sum":{"total":0,"no_gift_total":0,"discount":0},"promocode":"","coupon":{"value":0},"cartId":0},"yii":{"path":"\/page\/delivery"},"mainMenu":{"\/":"\u0413\u043b\u0430\u0432\u043d\u0430\u044f","\/shop\/zakuski":"\u041c\u0435\u043d\u044e","\/page\/delivery":"\u041e \u0434\u043e\u0441\u0442\u0430\u0432\u043a\u0435","\/actions":"\u0410\u043a\u0446\u0438\u0438 \u0438 \u043d\u043e\u0432\u043e\u0441\u0442\u0438","\/page\/restaurants":"\u0420\u0435\u0441\u0442\u043e\u0440\u0430\u043d\u044b"},"user":{"isGuest":true}}</script>
<div class="page-homepage js-container container shit" data-controller="homepage">
<script>
    var LunchPopup = function()
    {
        this.popup_id = 'lunch-error-popup';

        this.open = function()
        {
            document.querySelector('#lunch-error-popup').classList.add('vue-popup')
        };

        this.close = function()
        {
            document.querySelector('#lunch-error-popup').classList.remove('vue-popup')
        };
    };

    window.lunchPopup = new LunchPopup;
</script>

<!-- <div class="popup prompt prompt--field" class="vue-popup"> -->
<div id="lunch-error-popup" class="popup prompt prompt--field">
    <div class="prompt__centre" style="margin-top: 169px;">
        <div class="prompt__window">
            <div class="prompt__header">
                <span class="prompt__title">Внимание</span>
                <span class="prompt__close"></span>
            </div>
            <div class="popup-info">
                Бизнес-ланч доступен для заказа с понедельника по пятницу с 12:00 до 16:00
            </div>
            <div class="prompt__footer">
                <span class="prompt__button" style="width: 100%;">Закрыть</span>
                <!-- <span onclick="location='/shop'" class="prompt__button" style="width: 100%;">В меню</span> -->
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('#lunch-error-popup .prompt__close').addEventListener('click', function() {
        window.lunchPopup.close();
    });
    document.querySelector('#lunch-error-popup .prompt__button').addEventListener('click', function() {
        window.lunchPopup.close();
    });
</script>  <div id="vueMain">
  <header class="js-header header" id="header">
    <div class="header__wrapper">
      <div class="header__interface">
        <ul class="header-interface">
          <li class="header-interface__item">
            <span class="header-interface__space">
              <button class="js-header--switcher header-interface__switcher" onClick="$('.js-container').toggleClass('sidebar--open');"></button>
            </span>
          </li>
          <li class="header-interface__item">
            <button class="header-interface__button" onClick="location.href='tel:+74996492223'">
              <img src="/images/fill-call.svg" alt="" class="header-interface__icon">
            </button>
          </li>
          <li v-if="models.user.isGuest" class="header-interface__item">
            <span @click="popup.login = true" class="header-interface__button" id="login-mobile-popup-link">
              <img src="/images/fill-account.svg" alt="" class="header-interface__icon">
            </span>
          </li>
          <li v-else class="header-interface__item">
            <!-- <a class="header-interface__button" href="/cabinet/profile">
              <img src="/images/fill-account.svg" alt="" class="header-interface__icon">
            </a> -->
            <a class="header-interface__button">
              <img src="/images/fill-account.svg" alt="" class="header-interface__icon">
            </a>
          </li>
        </ul>
      </div>
      <div class="header__logo">
        <div class="header-logo">
          <a href="/" class="header-logo__link">
            <img src="/images/logo.svg" alt="" class="header-logo__image">
          </a>
        </div>
      </div>
      <div class="header__menu no-dragscroll">
        <ul class="header-menu">
          <li v-for="(item, index, key) in models.mainMenu" class="header-menu__item">
            <span v-if="models.yii.path == index" class="header-menu__link">{{ item }}</span>
            <a v-else :href="index" class="header-menu__link">{{ item }}</a>
          </li>
          <li @click="popup.login = true" v-if="models.user.isGuest" class="header-menu__item hide-desktop">
            <a href="javascript:void(0)" class="header-menu__link">Войти</a>
          </li>
          <li v-else class="header-menu__item hide-desktop">
            <a href="/cabinet/new#personalDataAnchor" class="header-menu__link">Личный кабинет</a>
          </li>
          <template v-if="userDataLoaded">
          <li v-if="!models.user.isGuest" class="header-menu__item hide-desktop">
            <a href="/cabinet/addressbook" class="header-menu__link">Адреса</a>
          </li>
          <li v-if="!models.user.isGuest" class="header-menu__item hide-desktop">
            <a href="/cabinet/history" class="header-menu__link">Заказы</a>
          </li>
          <li v-if="!models.user.isGuest" class="hidden-lg hidden-md header-menu__item hide-desktop">
            <a href="/cabinet/logout" class="header-menu__link">Выйти</a>
          </li>
          <li v-if="models.user.isGuest" class="header-menu__item profile" style="position: relative;">
            <span @click="popup.login = true" class="header-menu__link pointer">
              <img src="/images/fill-account.svg" alt="" class="header-menu__icon">
            </span>
            <!-- UNCOMMENT FOR DROPDOWN LIST AND LOYALITY LINK -->
              <div v-if="models.user.isGuest" style="top: auto;" class="Profile-dropdown-temp">
                  <ul class="Profile-dropdown-temp__list">
                      <li @click="popup.login = true" class="Profile-dropdown-temp__item">
                          <a href="javascript:void(0)" class="Profile-dropdown-temp__link">Войти</a>
                      </li></ul></div>
              <div v-else style="top: auto;" class="Profile-dropdown-temp">
            <ul class="Profile-dropdown-temp__list">
              <li class="Profile-dropdown-temp__item">
                <a href="/cabinet/new" class="Profile-dropdown-temp__link">Личный кабинет</a>
              </li></ul></div>
              <!-- UNCOMMENT FOR DROPDOWN LIST AND LOYALITY LINK -->
              </li>
          </li>
          <li v-else class="header-menu__item profile" style="position: relative;">
          <a class="header-menu__link"> <!-- <a href="/cabinet/profile" class="header-menu__link"> -->
          <img src="/images/fill-account.svg" alt="" class="header-menu__icon"> <!-- <span class="account_name"></span> --></a>
          <div style="top: auto;" class="Profile-dropdown-temp"><ul class="Profile-dropdown-temp__list"><li class="Profile-dropdown-temp__item"><a href="/cabinet/new#personalDataAnchor" class="Profile-dropdown-temp__link">Личный кабинет</a></li> <li class="Profile-dropdown-temp__item"><a href="/cabinet/addressbook" class="Profile-dropdown-temp__link">Адреса</a></li> <!----> <li class="Profile-dropdown-temp__item"><a href="/cabinet/history" class="Profile-dropdown-temp__link">Заказы</a></li> <li class="Profile-dropdown-temp__item"><a href="/cabinet/logout" class="Profile-dropdown-temp__link">Выйти</a></li></ul></div></li>
        </template>
        </ul>
        <!-- <div class="header-cities" style="padding-bottom: 20px;">
          <span class="header-cities__value">Москва</span>
          <img src="/images/down.svg" alt="" class="header-cities__icon"> WAS COMMENTED
        </div> -->
      </div>
      <div class="header__cart">
        <div class="header-cart">
          <a href="/shop/basket" class="header-cart__link">
            <img src="/images/cart.svg" alt="" class="header-cart__icon">
            <span id="header-cart-amount" class="header-cart__amount">{{ models.basket.count }}</span>
          </a>
        </div>
      </div>
    </div>
  </header>
  <div class="popup" :class="{'vue-popup': popup.login}">
    <div class="popup__background" @click="popup.login = false"></div>
    <div class="popup__content">
      <div id="login-form" class="form-horizontal">
        <div class="auth">
          <div class="auth__header">
            <span class="auth__title">Вход</span>
            <span class="auth__close" @click="popup.login = false"></span>
          </div>
          <div class="auth__content">
            <span class="auth__hint">Войдите, зарегистрируйтесь или <span class="new-link" @click="resendCode()">получите код заново</span></span>
            <div class="form-group">
              <label class="control-label">Телефон *</label>
              <input id="loginPhoneMask" data-inputmask="'mask': '+7 (999) 999-9999'" type="text" v-model="form.phone" class="auth__field">
              <div class="help-block">{{ errors.phone }}</div>
            </div>
            <div class="form-group" v-if="form.email !== null">
              <label class="control-label">E-mail *</label>
              <input type="text" v-model="form.email" class="auth__field">
              <div class="help-block">{{ errors.email }}</div>
            </div>
            <div class="form-group" v-if="form.name !== null">
              <label class="control-label">Имя *</label>
              <input type="text" v-model="form.name" class="auth__field">
              <div class="help-block">{{ errors.name }}</div>
            </div>
            <div class="form-group" v-if="form.code !== null">
              <label class="control-label">Код *</label>
              <input type="text" v-model="form.code" class="auth__field">
              <div class="help-block">{{ errors.code }}</div>
            </div>
            <div class="form-group" v-if="form.birthday !== null">
              <label class="control-label">День рождения</label>
              <input min="1900-01-01" max="2021-08-10" type="date" v-model="form.birthday" class="auth__field">
              <div class="help-block">{{ errors.birthday }}</div>
            </div>
            <div class="form-group" v-if="form.sex !== null">
              <label class="control-label">Пол</label>
              <select v-model="form.sex" class="auth__field">
                <option value="0">Не установлен</option>
                <option value="1">Мужской</option>
                <option value="2">Женский</option>
              </select>
              <div class="help-block">{{ errors.sex }}</div>
            </div>
            <small style="font-size: 14px;" class="cart-label">* - обязательные поля для заполнения</small>
            <span class="auth__button pointer" @click="proceed()">Далее</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <main class="main" id="main">
    <!---->
            <div class="about">
  <div class="about__contact">
    <div class="about-contact call_phone_1">
      <span class="about-contact__code">
        499      </span>
      <span class="about-contact__phone">
        649-<!--
        --><span class="about-contact__primary"><!--
          -->2<!--
        --></span><!--
        -->-223      </span>
      <span class="about-contact__description">Служба доставки</span>
    </div>
  </div>
  <div class="call_phone_img_1">
    <div class="delivery-images-container"><div class="delivery-images"></div></div>
  </div>
  <div class="about__header">
    <span class="about__title">Зона доставки</span>
  </div>
  <iframe style="width: 100%; height: 700px;" src="https://yandex.ru/map-widget/v1/-/CCQhURAa8C" frameborder="1" allowfullscreen="true"></iframe>
  <div class="about__section">
    <ul class="benefits benefits--double">
          <li class="benefits__item benefits__item-perm">
        <span class="benefits__icon benefits__icon--green">
          <span class="benefits__number">A</span>
          <span class="benefits__postfix">Зона</span>
        </span>
        <span class="benefits__title">Время доставки:</span>
        <p class="benefits__description">в течение 60 минут.</p>
              </li>
          <li class="benefits__item benefits__item-perm">
        <span class="benefits__icon benefits__icon--pink">
          <span class="benefits__number">B</span>
          <span class="benefits__postfix">Зона</span>
        </span>
        <span class="benefits__title">Время доставки:</span>
        <p class="benefits__description">в течение 90 минут.</p>
              </li>
          <li class="benefits__item benefits__item-perm">
        <span class="benefits__icon benefits__icon--violet">
          <span class="benefits__number">C</span>
          <span class="benefits__postfix">Зона</span>
        </span>
        <span class="benefits__title">Время доставки:</span>
        <p class="benefits__description">в течение 120 минут.</p>
              </li>
      </div>
  <!-- rgba(243,113,209,0.5019607843137255) -->
  <!-- rgba(27,173,3,0.5019607843137255) -->
  <!-- rgba(181,30,255,0.5019607843137255) -->

  <!-- rgb(243,113,209) -->
  <!-- rgb(27,173,3) -->
  <!-- rgb(181,30,255) -->

    <div class="about__section">
    <p class="benefits__description">
      <br>Внимание!<br><br>
      <a href="/page/offer" style="color: rgb(43, 174, 231); text-decoration: none;">Порядок оформления и оплаты заказа</a>
      <br>
      Доставка за МКАД осуществляется в следующие города и населенные пункты:<br>Апрелевка  |  Бутово  |  Внуково  |  Московский  |  Новопеределкино  |  Солнцево<br>Мытищи  |  Дзержинский  |  Капотня  |  Видное  |  Щербинка  |  Домодедово<br><br><br>
    </p>
  </div>
    </main>

<div id="cities_hidden" style="display: none">[{"fieldName":"city","name":"\u041c\u043e\u0441\u043a\u0432\u0430","value":"1","checked":true}]</div>
    <footer itemscope itemtype="http://schema.org/Organization" class="footer">
    <div class="footer__wrapper">
      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="footer__cities">
        <ul class="footer-cities">
          <li class="footer-cities__item"><span itemprop="addressLocality" class="footer-cities__title">Москва</span><!--<img src="/images/white-down.svg" alt="" class="footer-cities__icon">--></li>
          <li class="footer-cities__item"><a href="" class="footer-cities__link">Пермь</a></li>
        </ul>
      </div>
        <div itemprop="telephone" class="footer__phones call_phone_footer"><a href="tel:+74996492223" class="footer__link">+7 (499) 649-2-223</a></div>
    
      <div class="footer__socials">
        <ul class="socials">
          <li class="socials__item"><a href="https://vk.com/ersh.restoran" class="socials__link"><img src="/images/white-vkontakte.svg" alt="" class="socials__icon"></a></li>
          <li class="socials__item"><a href="https://www.facebook.com/ersh.restoran/" class="socials__link"><img src="/images/white-facebook.svg" alt="" class="socials__icon"></a></li>
          <li class="socials__item"><a href="https://www.instagram.com/ersh.restoran/" class="socials__link"><img src="/images/white-instagram.svg" alt="" class="socials__icon"></a></li>
        </ul>
      </div>
      <div class="footer__copyrights"><span class="footer__description">© 2006 — 2021 <span itemprop="name">Пивные рестораны Ёрш</span></span></div>
      <div class="footer__policy">
        <a href="/page/privacy" class="footer__link">Политика конфиденциальности</a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/jobs" class="footer__link">Вакансии</a>
              </div>
    </div>
  </footer>
  </div>
<script src="/assets/20e579fc/main.js?v=1580826482"></script>
<script src="/assets/de1fbdff/dist/owl.carousel.min.js?v=1524230530"></script></body>
</html>
